<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <div>
        {% if error_msg %}
            <h1>{{ error_msg }}</h1>
        {% else %}
            <h1>No error available.</h1>
        {% endif %}
    </div>
    <div>
        <button onclick="location.href='{% url 'Logistics:invoice_form' %}'">Go to Invoice Form</button>
    </div>
    <br>
    <div>
        <button onclick="location.href='{% url 'Logistics:invoiceitem_form' %}'">Go to Invoice Item Form</button>
    </div>
    <br>
    <div>
        <button onclick="location.href='{% url 'Logistics:home' %}'">Home Page</button>
    </div>
</body>
</html>